@import '../../variables.scss';

header {
  height: $headerHeight;
  background: linear-gradient(to right, #001f3f, #034f84);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100vw;
}
input {
  all: unset;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
}

input::placeholder {
  color: white;
}

.agregar_tarea {
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
}

.logo {
  height: 125px;
  width: 150px;
  overflow: hidden;
}
