@import '../../variables.scss';

.showLists {
  // background: linear-gradient(to bottom, rgb(181, 255, 138), #999);
  background-image: url("../../assets/bg_space.png");
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-position: center;
  min-height: calc(100vh - #{$headerHeight});
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
