

  <div class="list">
    <h1>
      <span [hidden]="editing" (dblclick)="edit(editInput)"> {{ list.name }} </span>
      <span [hidden]="!editing">
        <input type="text" 
        #editInput (keyup.enter)="editName()"
        (blur)="cancelEdit()" 
        [(ngModel)]="newName">
      </span>
    </h1>
     <!-- You can do that in this way -->
     <!-- <input *ngIf="!editing" type="text" (keyup.enter)="editName()"
     (blur)="cancelEdit()" [(ngModel)="list.name"]> -->
      
     <!-- <input type="text" #editInput (keyup.enter)="editName()"
     (blur)="cancelEdit()" [(ngModel)="newName"]> -->
    

    <div class="tasks">
      <app-task *ngFor="let taskObj of list.tasks" 
      [task]="taskObj">
      </app-task>
    </div>
    <div class="controls">
      <!-- Add some icons to customize our app -->
      <i (click)="delete()" class="material-icons">delete</i>
      <i (click)="edit(editInput)" class="material-icons">edit</i>
      <input class="agregarTarea" type="text" placeholder="Añada una tarea!" (keyup.enter)="newTask($event)" />

    </div>


  
